/* //TODO add global props from cms
//fonts
//type hierarchies
//colours
 */

html {
    height: 100vh;
}
body {
    height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:visited {
    color: black;
}
